/*Mobile*/
@media only screen
and (min-width: 320px)
and (max-width: 768px)  {
    body {
        min-width: 320px;
        max-width: 768px;
        min-height: 568px;
        text-align: center;
        background-image: url("../img/mobile-back.png");
        background-color: black;
        background-size: cover;
    }

    .main-content {
        margin: 0 auto;
        min-width: 283px;
        height: 251px;
        position: relative;
        perspective: 1000px;
    }

    .main-content__title {
        position: relative;
        z-index: 1000;
    }

    .main-content__title--big {
        font-size: 55px;
        font-weight: 700;
        margin-top: 20px;
    }


    .feature-lottery {
        position: absolute;
        z-index: 1000;
        top: 40%;

        width: 95%;
        height: 40%;
    }

    .feature-lottery__description,
    .feature-mobile__description {
        font-size: 20px;
        width: 100%;
    }

    .feature-mobile__title {
        width: 90%;
    }
    .feature-lottery__title {
        width: 90%;
    }
    @-webkit-keyframes fade-out {
        from {
            -webkit-transform: translate3d(38%, 0, 0);
            transform: translate3d(38%, 0, 0);
            opacity: 1;
        }

        20% {
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(-5%, 0, 0);

            opacity: 1;
        }

        40% {
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(-5%, 0, 0);

            opacity: 1;
        }
        60% {
            -webkit-transform: translate3d(-38%, 0, 0);
            transform: translate3d(-38%, 0, 0);

            opacity: 0;
        }
        80% {
            -webkit-transform: translate3d(-38%, 0, 0);
            transform: translate3d(-38%, 0, 0);

            opacity: 0;
        }
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            opacity: 0;
        }
    }
    .feature-mobile__description {
        left: 35%;
    }
    .feature-lottery__description {
        left: 33%;
    }
    @-webkit-keyframes fade-out {
        from {
            -webkit-transform: translate3d(8%, 0, 0);
            transform: translate3d(8%, 0, 0);

            opacity: 1;
        }

        20% {
            -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);

            opacity: 1;
        }

        40% {
            -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);

            opacity: 1;
        }
        60% {
            -webkit-transform: translate3d(-38%, 0, 0);
            transform: translate3d(-38%, 0, 0);

            opacity: 0;
        }
        80% {
            -webkit-transform: translate3d(-38%, 0, 0);
            transform: translate3d(-38%, 0, 0);

            opacity: 0;
        }
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            opacity: 0;
        }
    }
    @-webkit-keyframes fade-out-second {
        from {
            -webkit-transform: translate3d(8%, 0, 0);
            transform: translate3d(8%, 0, 0);

            opacity: 0;
        }

        20% {
            -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-%, 0, 0);

            opacity: 1;
        }

        40% {
            -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);

            opacity: 1;
        }
        60% {
            -webkit-transform: translate3d(5%, 0, 0);
            transform: translate3d(-20%, 0, 0);

            opacity: 0;
        }
        80% {
            -webkit-transform: translate3d(-25%, 0, 0);
            transform: translate3d(-25%, 0, 0);

            opacity: 0;
        }
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            opacity: 0;
        }
    }

    .knob {
        position: relative;

        min-width: 65%;
        height: 90px;
        margin: 30% 20%;

        transform-style: preserve-3d;
    }
    @-webkit-keyframes fadeInUp {
        from {
            -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);

            opacity: 1;
        }

        to {
            -webkit-transform: translate3d(0, 90%, 0);
            transform: translate3d(0, 90%, 0);

            opacity: 1;
        }
    }
    .ball--top-middle {
        display: none;
    }
    .ball--middle {
        display: none;
    }

    .ball--right-corner {
        display: none;
    }

    .ball--left-corner {
        display: none;
    }

    .ball--left-side {
       display: none;
    }

    @keyframes twisting {
        0% {
            transform: rotate(0deg) translateY(15%);
        }
        40% {
            transform: rotate(60deg) translateY(18%);
        }

        60% {
            transform: rotate(100deg) translateY(20%);
        }
        80% {
            transform: rotate(120deg) translateY(25%);
        }

        100% {
            transform: rotate(150deg) translateY(30%);
        }
    }
}

@media only screen
and (min-width: 320px)
and (max-width: 545px) {

    .knob {
        position: relative;

        width: 95%;
        height: 90px;
        margin: 40% auto;
    }

}
/*Tablet*/
@media only screen
and (min-width: 768px)
and (max-width: 1024px) {

    body {
        min-width: 768px;
        height: 1024px;
        text-align: center;
        background-image: url("../img/tablet-back.jpg");
        background-color: black;
        background-size: cover;
    }

    .main-content {
        margin: 0 auto;
        min-width: 477px;
        height: 216px;
        position: relative;
        perspective: 1000px;
    }

    .main-content__title--big {
     font-size: 70px;
        margin-bottom: 30px;

    }

    .feature-lottery__description {
        margin-top: 5px;
    }
    @-webkit-keyframes fade-out {
        from {
            -webkit-transform: translate3d(38%, 0, 0);
            transform: translate3d(38%, 0, 0);

            opacity: 1;
        }

        20% {
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(-20%, 0, 0);

            opacity: 1;
        }

        40% {
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(-20%, 0, 0);

            opacity: 1;
        }
        60% {
            -webkit-transform: translate3d(-38%, 0, 0);
            transform: translate3d(-38%, 0, 0);

            opacity: 0;
        }
        80% {
            -webkit-transform: translate3d(-38%, 0, 0);
            transform: translate3d(-38%, 0, 0);

            opacity: 0;
        }
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            opacity: 0;
        }
    }

    @-webkit-keyframes fade-out-second {
        from {
            -webkit-transform: translate3d(38%, 0, 0);
            transform: translate3d(38%, 0, 0);

            opacity: 0;
        }

        20% {
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(-15%, 0, 0);

            opacity: 1;
        }

        40% {
            -webkit-transform: translate3d(0%, 0, 0);
            transform: translate3d(-15%, 0, 0);

            opacity: 1;
        }
        60% {
            -webkit-transform: translate3d(-38%, 0, 0);
            transform: translate3d(-38%, 0, 0);

            opacity: 0;
        }
        80% {
            -webkit-transform: translate3d(-38%, 0, 0);
            transform: translate3d(-38%, 0, 0);

            opacity: 0;
        }
        to {
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);

            opacity: 0;
        }
    }

    .knob {
        position: relative;

        width: 95%;
        height: 90px;
        margin: 30% 22%;
        z-index: 1000;
    }
    .knob__side--front {
        position: absolute;
        z-index: 1000;
        bottom: 4px;
        left: 9.5%;
    }
    @-webkit-keyframes fadeInUp {
        from {
            -webkit-transform: translate3d(0, 0%, 0);
            transform: translate3d(0, 0%, 0);

            opacity: 1;
        }

        to {
            -webkit-transform: translate3d(0, 90%, 0);
            transform: translate3d(0, 90%, 0);

            opacity: 1;
        }
    }

    .ball--right-corner {
       display: none;
    }

    .ball--left-corner {
        display: none;
    }

    @keyframes twisting {
        0% {
            transform: rotate(0deg) translateY(15%);
        }
        40% {
            transform: rotate(60deg) translateY(18%);
        }

        60% {
            transform: rotate(100deg) translateY(20%);
        }
        80% {
            transform: rotate(120deg) translateY(25%);
        }

        100% {
            transform: rotate(150deg) translateY(30%);
        }
    }
}

