body {
    width: 1920px;
    height: 1080px;

    text-align: center;
    background-image: url("../img/bagground.png");
    background-color: black;
    background-repeat: no-repeat;
    font-family: 'Oswald', 'Arial', sans-serif;
    text-transform: uppercase;
}

.main-header {
    margin: 0 auto;
    width: 1162px;
    height: 509px;
    position: relative;
    perspective: 1000px;
}

.main-header__navigation {
    margin-top: 37px;
    margin-right: 18px;
    position: relative;
    z-index: 1000;
}

.main-header__title--big {
    font-size: 80px;
    font-weight: 800;
    margin-top: 65px;
    color: #ffffff;
    text-shadow: 0 0 15px #009640;
    margin-bottom: 0;
    z-index: 1000;
    position: relative;
}

.main-header__title--medium {
    font-size: 40px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 11px #009a3e;
    margin-top: 15px;
    margin-bottom: 0;
    z-index: 1000;
    position: relative;
}

.main-header__title--small {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
    text-shadow: 0 0 11px #009a3e;
    margin-top: 0;
    margin-bottom: 40px;
}

.main-header__cube {
    width: 400px;
    height: 90px;
    margin: 0 auto;
    position: relative;
    transform-style: preserve-3d;
}

.main-header__cube div {
    margin: 0;
    display: block;
    position: absolute;
}

.main-header__btn {
    width: 309px;
    height: 75px;
    display: block;
    color: #ffffff;
    background-color: #029c42;
    text-transform: uppercase;
    font-family: 'Oswald', 'Arial', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    border: none;
    outline: none;
    border-radius: 4px;
    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(45deg) translateZ(0px);
    box-shadow: 0 100px 40px 10px rgba(0, 1, 1, 0.5);
    position: absolute;
    cursor: pointer;
    left: 35px;
}

@keyframes bounce {
    from {
        transform: translateY(150%);
    }

    to {
        transform: translateY(-150%);
    }
}

.main-header__btn:active {
    bottom: -14px;
}

.main-header__btn:active ~ .main-header__btn--front {
    bottom: -19px;
}

.main-header__btn--front {
    width: 323px;
    height: 14px;
    background-color: #007235;
    border-radius: 4px;
    position: absolute;
    bottom: 10px;
    left: 30px;
    cursor: pointer;
    transform: perspective(337px) rotateY(0deg) rotateX(-10deg) translateZ(8px);
}

.main-header__ball--left-corner {
    position: absolute;
    top: 80px;
    left: 40px;
    animation-name: twisting;
    animation-duration: 8s;
    animation-iteration-count: 2;
}

@keyframes twisting {
    0% {
        transform: rotate(0deg) translateY(15%);
    }
    40% {
        transform: rotate(60deg) translateY(40%);
    }

    60% {
        transform: rotate(100deg) translateY(120%);
    }
    80% {
        transform: rotate(120deg) translateY(150%);
    }

    100% {
        transform: rotate(150deg) translateY(100%);
    }
}

.ball {
    position: absolute;
    animation-name: twisting;
    animation-duration: 25s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-fill-mode: backwards;
}

.main-header__ball--left-corner {
    top: 28px;
    left: 33px;
    animation-duration: 12s;
}

.main-header__ball--right-corner {
    top: 45px;
    right: 30px;
    animation-duration: 15s;
}

.main-header__ball--bottom {
    bottom: -290px;
    right: 440px;
    animation-duration: 17s;
}

.main-header__ball--top-middle {
    top: 50px;
    right: 300px;
    z-index: 0;
    animation-duration: 5s;
}

.main-header__ball--left-side {
    top: 390px;
    left: 110px;
}

.main-header__ball--right-side {
    top: 375px;
    right: 115px;
    animation-duration: 22s;
}

.main-header__ball--middle {
    top: 215px;
    left: 335px;
}
